<ion-modal-view>
  <ion-header-bar class="bar-calm bar-shadow">
    <h1 class="title">{{::'FILTERS' | translate}}</h1>
    <button type="button" class="button button-icon button-clear icon-checkmark" ng-click="earningCtrl.saveFilters()"></button>
  </ion-header-bar>

  <ion-content class="container" on-swipe-left="earningCtrl.saveFilters()">
    <div class="list borderless light-bg">
      <div class="divider">
        <span class="left">{{::'ACCOUNTS' | translate}}</span>
        <hr>
      </div>
      <div class="item item-icon-right item-light" ng-click="earningCtrl.showAccounts()" id="earningAccountsFilter">
        <p>{{earningCtrl.modalFilters.accounts | join:'name':earningCtrl.accounts.length:earningCtrl.allAccounts:earningCtrl.filterAccounts}}</p>
        <span class="icon ion-android-arrow-dropdown"></span>
      </div>

      <div class="divider">
        <span class="left">{{::'CATEGORIES' | translate}}</span>
        <hr>
      </div>
      <div class="item item-icon-right item-light" ng-click="earningCtrl.showCategories()" id="earningCategoriesFilter">
        <p>{{earningCtrl.modalFilters.categories | join:'name':earningCtrl.categories.length:earningCtrl.allCategories:earningCtrl.filterCategories}}</p>
        <span class="icon ion-android-arrow-dropdown"></span>
      </div>
    </div>
    
    <div class="form-end-buttons">
      <button class="button button-clear button-calm" ng-click="earningCtrl.modal.hide()">
        {{::'CANCEL' | translate}}
      </button>
      <button class="button button-clear button-calm" ng-click="earningCtrl.modalFilters = {accounts: [], categories: []}">
        {{::'RESET_FILTERS' | translate}}
      </button>
      <button class="button button-clear button-calm" ng-click="earningCtrl.saveFilters()">
        {{::'OK' | translate}}
      </button>
    </div>
  </ion-content>
</ion-modal-view>